@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__area/cards__area.css);
@import url(./__title/cards__title.css);
@import url(./__sign/cards__sign.css);
.cards {
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-column-gap: 18px;
  grid-row-gap: 21px;
  justify-content: center;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
}
