.header__container {
  width: calc(100vw*(882/1280));
  max-width: 882px;
  border-bottom: 1px solid rgba(84, 84, 84, .3);
  margin: 0 auto;
  padding-top: 45px;
}

@media (max-width: 767px) {
  .header__container {
    width: 100%;
    padding-top: 28px;
  }
}
