.popup__field {
  width: calc(430px*(358/430));
  height: 19px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
  padding: 0;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.popup__field:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .popup__field {
    width: calc((100vw - 41px)*(358/430));
  }
}

@media (max-width: 408px) {
  .popup__field {
    width: calc(100vw*(273/320));
  }
}
